{% extends 'manager/admin-layout.html' %}

{% block body %}
<div class="container mt-5">

    <div class="row mb-5 filter-form-container">
        {% include 'extras/filter-form.html' %}
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Client Phone</th>
                    <th scope="col">Payment Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for field in qs %}
                <tr>
                    <th scope="row">{{ field.id }}</th>
                    <td>
                        <a href="{% url 'manager:sells-report' field.id %}" class="link-none">
                            {{ field.client }}
                        </a>
                    </td>
                    <td>{{ field.client_phone }}</td>
                    <td>
                        {% if field.payment_completed %}
                        <i class="fa fa-1x fa-check-circle text-success"></i>
                        {% else %}
                        <i class="fa fa-1x fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'extras/pagination.html' %}

{% endblock %}